
.wwq{
    background-color: darkslategray;
    color: aliceblue;
    font-size: 20px;
    
    
}
#www{
   display: flex;
 justify-content:flex-end;
 flex-wrap: wrap;
}
#www>div{
    margin: 10px;
    font-size: 20px;
}
#eee{
    background-color: cornflowerblue;
    height: 700px;  
flex-wrap: wrap;
margin-top: 10px;
display: flex;
justify-content: center;
}
#eee>div{
    text-align: center;
    font-size: 20px;
   
}
.wwww{

    display: flex;
    background-color:white;
    flex-wrap: wrap;
    display: flex;
    justify-content:space-around;
}
.wwww>div{
    margin: 10px;
    height:300px;
    width: 400px;
    border: 1px solid;
    background-color:darkgray ;
    text-align: center;

}
#abs{
    background-color: darkgrey;
    height: 500px;
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
}
#abs>div{
    text-align: center;
    font-size: 20px;
}
#cos{
    height: 500px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;   
}
#cos>div{
    text-align: center;
    font-size: 20px;
}
.ii{

    text-align: center;
    font-size: 20px;
}
#btn{   
    display: block;
    margin: auto;
    margin-top: 70px;
    width: 200px;
    height: 70px;
     flex-wrap:wrap ;
    display: flex;
    justify-content: center;
}
button:hover{
    background-color: greenyellow;
}
.ii{
   
    width: 1100px;
    height: 35px;
}
